// Colors variables
// ----------------------------------------------

// General
$purple: #7a64b0;
$purple-dark: #2e3243;

$dark: #203248;
$dark2: #6a7785;
$dark3: #b5bbc2;
$softgray: #f9f9f9;
$blue: #00a8ff;
$white: #fff;



$bgdarkgrey: #333;
$bgdark: #203248;
$bgblue: #50667f;
$bgreen: #72bd8c;


