@import 'mixins';
@import 'colors';

.Button {
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  cursor: pointer;
  font: 600 12px 'Open Sans';
  outline: none;
  padding: 14px 24px;
}
.Button--full {
  width: 100%;
}
.Button--signup {
  padding: 7px 24px;
  background: transparent;
  box-shadow: 0 0 0;
  border: 1px solid rgba($white, .20);
  color: $white;
}

.Button--full {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.Button--purple {
  background: $purple;
  color: $white;
}
.Button--white {
  background: $white;
  color: #5c7dc7;
}
.Button--whiteBlue {
  background: $white;
  color: $dark;
}
.Button--whiteBlue2 {
  background: $white;
  color: $bgblue;
}
.Button--green {
  background: #85C064;
}
.Button--confirm {
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  height: 47px;
  width: 140px;
  background: #85C064;
}

.Button-secondary {
  background: transparent;
  border: 1px solid rgba($bgdarkgrey, .20);
  box-shadow: 0 0 0;
  color: $dark2;
}
.Button-secondary--negative {
  border: 1px solid rgba($white, .20);
  color: $white;
}
