@import 'typography';
@import 'mixins';
@import 'colors';
@media (max-width: 940px) {
  .Menu-item {
    margin-left: 20px;
  }
}

@media (max-width: 850px) {
  .Header-homeMedia {
    top: 50px;
    right: -104%;
    width: 151%;
  }
}
@media (max-width: 830px) {
  .Menu-item {
    margin-left: 12px;
  }
}




@media (max-width: 759px) {
  .title2 {
    font-size: 24px;
    line-height: 32px;
  }
  .Header-homeMedia {
    top: 50%;
    right: -152%;
    width: 200%;
    margin-top: -189px;
  }
  .section {
    padding: 64px 0;
  }
  .Browser-media img {
    width: 100%;
  }
  .Browser-tabs {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .Browser--right {
    width: 100%;
    margin: 0 0 48px 0;
  }
  @for $i from 1 through 38 {
    .u-bSpace--#{$i} {
      margin-bottom: (2px * $i);
    }
    .u-rSpace--#{$i} {
      margin-right: (2px * $i);
    }
    .u-lSpace--#{$i} {
      margin-left: (2px * $i);
    }
    .u-tSpace--#{$i} {
      margin-top: (2px * $i);
    }
  }
  .section--useCases {
    background: #f9f9f9;
    img {
      width: 150%;
      margin-left: -200px;
      margin-bottom: 40px;

    }
    .u-flex {
      display: block;
    }
  }
  .Grid-column.list-industriesitem {
    margin-bottom: 24px;
  }
  .list-industriesitemlink .u-rSpace--2 {
    margin-right: 12px;
  }
  .Footer-list {
    margin-bottom: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;    
  }
  .Footer-suscription .Container {
    @include flex-direction(column);
  }
  pre.line-numbers {
    padding-left: 0 !important;
  }
  code[class*=language-], pre[class*=language-] {
    white-space: pre-wrap !important;
    padding: 0;
  }
  .Module-blogContainer {
    @include flex-direction(column);
    .section--dark {
      min-height: 520px;
    }
  }
  .Module-blog {
    margin: 0;
    padding: 0 24px;
  }
  .Module-blogMedia {
    min-height: 375px;
  }
  .IndustriesList-itemDescription {
    display: block;
  }
  .ContactForm {
    box-shadow: 0 0 0;
    margin: 0 -24px;
    border-radius: 0;
  }
  .ContactForm-info {
    order: 1;
    padding: 64px 24px;
  }
  .ContactForm-infoList {
    margin-bottom: 48px;
  }
  .ContactForm-infoListItem {
    margin-bottom: 24px;
    .u-rSpace--3 {
      margin-right: 12px;
    }
  }
  .ContactForm-inner {
    order: 2;
    padding: 64px 24px;
  }
  .Button {
    width: 100%;
    text-align: center;
  }
  .Header--contact {
    padding-top: 0;
  }
  .Header {
    margin-top: 0;
    padding: 120px 0 64px 0;
  }

  .Header-container {
    margin: 0;
  }
  .Carousel-home {
    margin-top: 0;
    padding-bottom: 0;
  }
  .Carousel-homeActions {
    @include flex-direction(column);
    width: 100%;
    margin-top: 48px;
  }
  .Header--home .Carousel-homeActions {
    margin-top: 236px;
  }
  .list-buttonsitem {
    margin-right: 0;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }


  @for $i from 1 through 12 {
    .Grid-column--#{$i} {
      width: 100%;
    }
  }
  .Grid-column {
    margin: 0;
  }
  .Grid-container {
    margin-right: 0;
    margin-left: 0;
  }
  .RatesInfo-list {
    flex-direction: column;
  }
  .RatesInfo-listItem {
    margin: 24px 0 0 0;
  }
  .RatesInfo-number--yellow {
    margin-right: 32px;
  }
  .u-alignCenter {
    @include flex-direction(flex-start);
    @include align-items(flex-start);
  }
  .ListFeatures-item {
    margin-bottom: 32px !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  .Performance-listDescription {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .List-buttons {
    @include flex-direction(column);
    margin-top: 28px;
  }
  .RatesInfo {
    width: 100%;
  }
  .section--blue .RatesInfo-form {
    margin-top: 0;
  }
  .RatesInfo-form {
    @include flex-direction(column);
    width: 100%;
    margin-top: 48px;
  }
  .RatesInfo-formStep {
    width: 100%;
    margin: 0 0 24px 0 !important;
  }
  .slider {
    width: 100%;
    margin-bottom: 32px;
    padding: 0 6px;
    box-sizing: border-box;
  }
  .Box-inner {
    padding: 24px;
  }
  .List-inputHLRItem {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .Box--negative {
    margin-top: 0;
  }
  .List-servicesItem {
    @include flex-direction(column);
  }
  .Pricing-actions {
    @include flex-direction(column);
    .u-flex {
      @include flex-direction(column);
    }
    .list-buttonsitem {
      margin-bottom: 24px;
    }
  }
  .List-stepsItem {
    margin-bottom: 24px;
  }
  .u-alignCenter.Step {
    @include align-items(center);
  }
  .Login {
    background-image: none;
  }
  .Login .section {
    padding-top: 120px;
  }
  .Login .u-bSpace--2 {
    margin-bottom: 16px;
  }
  .Navigation {
    position: absolute;
    width: 100%;
    box-sizing: border-box;

    .Container {
      padding: 0;
      @include align-items(center);
    }
    .Menu {
      display: none;
    }
  }
  .NavigationMobile.is-open {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.90);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 60px 28px;
    z-index: 25;
  }
  .NavigationMobile-menu {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(space-between);
    height: 100%;
    text-align: center;
    font: 18px 'Open Sans';
    a {
      color: #fff
    }
  }
  .NavigationMobile-menuItem hr {
    width: 150px;
    margin: 0 auto;
    background: rgba(255,255,255,.1);
    display: block;
    padding: 0;
    height: 1px;
    border: 0;
  }
  .NavigationMobile-close {
    position: absolute;
    right: 28px;
    top: 28px;
  }
  .Hamburguer {
    display: block;
    cursor: pointer;
  }
  .Verify-item {
    &:last-child {
      margin-bottom: 0;
    }
    .Grid-column  {
      @include justify-content(space-between);
      margin-bottom: 16px;
    }
    .Grid-column--1 {
      @include flex(1);
      margin-left: 8px;
      &:first-child {
        margin-left: 0;
      }
    }
    .u-bSpace--5 {
      margin-bottom: 0;
    }
    .title4.u-bSpace--2 {
      margin-bottom: 8px;
    }
  }

  .Footer-form {
    @include display-flex();
    @include justify-content(space-between);
  }

  .section-blog .owl-controls {
    display: none;
  }
  
  .section-blog .owl-pagination {
    @include justify-content(center);
    display: none;
  }
  .List-moduleDevelopersItem {
    margin-bottom: 20px;
  }
  .Menu-docs {
    margin: 140px 0 80px 0;
  }

  .IndustriesList-itemLink.u-alignCenter {
    @include align-items(center);
  }

  .ContactList {
    flex-direction: column;
    .ContactList-item {
      border-left: 0;
      border-top: 1px solid #f5f5f5;
      &:first-child {
        border-top: 0;
      }
    }
  }
  .LabelStep-error .LabelStep-errorInfo {
    display: none;
  }


  .Blog-containHome {
    .row {
      > .row {
        @include flex-direction(column);
        margin-bottom: 20px;
        .col-sm-6 {
          flex: 1;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .ListFeatures {
    margin-bottom: 0;
  }
  .section-blog .section--blueDark {
    padding: 64px 0;
  }
  .Footer-share {
    display: none;
  }
  .Footer-suscription {
    padding: 24px 0;
  }
  .Footer-list {
    margin-top: -32px;
  }
  .Footer-listItem {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .Module-api {
    display: none;
  }
  .title1 {
    font-size: 30px;
    line-height: 40px;
  }
  .Header--home .owl-pagination {
    display: none;
  }

  .Header--inside {
    padding: 20px 0 52px 0;
    .Header-container {
      margin-top: 88px;
      margin-bottom: 0;
    }
    .u-bSpace--6, .u-bSpace--3 {
      margin-bottom: 12px;
    }
    .Carousel-homeActions {
      margin-top: 32px;
    }
    .title2 {
      font-size: 30px;
      line-height: 39px;
    }
    .RatesInfo-listItem {
      margin-top: 12px;
    }
    .slider {
      margin-bottom: 16px;
    }
  }
  .Carousel-home {
    margin: 0;
  }

  @for $i from 1 through 12 {
    .order-#{$i} {
      order: $i;
    }
  }
  .section--dark .u-bSpace--6 {
    margin-bottom: 24px;
  }
  .u-bSpace--6 {
    margin-bottom: 24px;
  }
  .Browser-media,
  .Browser-media img {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .Header--home {
    background-image: linear-gradient(-143deg, #4992D4 0%, #7A64B0 100%);
  }
  .Button {
    font-size: 13px;
  }
  .Performance-listRatio {
    @include align-items(center);
    padding: 0 26px;
  }
  .RatesInfo {
    margin-top: 34px;
  }
  .RatesInfo-number {
    font-size: 28px;
    small {
      font-size: 20px;
    }
  }
  .Box-hlr {
    margin-bottom: 64px;
    margin-top: -32px;
    .title5 {
      margin-bottom: 20px;
    }
  }
  .Header--inside .RatesInfo-form {
    margin-top: 0;
  }
  .Box--pricing {
    margin: -64px -24px 64px -24px;
    padding-top: 64px;
    padding-bottom: 42px;
  }
  .ContactForm-formOptions {
    @include flex-direction(column);
    margin: 0;
    .LabelStep {
      margin-bottom: 16px;
    }
  }
  .ContactForm-inner {
    padding: 64px 24px;
  }
  .ContactForm-form .LabelStep {
    margin-bottom: 16px;
  }
  .ContactForm-formOptions .LabelStep {
    margin-left: 0;
    margin-right: 0;
  }
  .IndustriesList {
    overflow: hidden;
  }
  .IndustriesList-item {
    height: 280px;
  }
  .IndustriesList-itemLink {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 64px 24px;
  }
  .Login .title2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 22px;
  }
  .Login .p1 {
    font-size: 15px;
    line-height: 24px;
  }
  .Login .verify-mobile {
    margin-top: 12px;
  }
  .Login .Login-confirmItem {
    margin-left: 16px;
    &:first-child {
      margin-left: 0;
    }
  }
  .Verify-item.is-disabled {
    display: none;
  }
  .Brands {
    overflow: hidden;
  }
  #Logos-mobile {
    padding: 0;
    &:before {
      content: '';
      position: absolute; 
      left: 0;
      top: -25px;
      width: 128px;
      height: 80px;
      background-image: linear-gradient(to right, #f9f9f9, rgba(249, 249, 249, 0.0));
      z-index: 10;
      pointer-events: none;
    }
    &:after {
      content: '';
      position: absolute; 
      right: 0;
      top: -25px;
      width: 128px;
      height: 80px;
      background-image: linear-gradient(to left, #f9f9f9, rgba(249, 249, 249, 0.0));
      z-index: 10;
      pointer-events: none;
    }
    .owl-item > li {
      @include display-flex();
      @include justify-content(center);
    }
    .item {
      @include display-flex();
      @include justify-content(center);
    }
  }
  .Browser-tabs {
    @include align-items(center);
    height: 10px;
    padding: 0 8px;
  }
  .Browser-buttons li {
    width: 3px;
    height: 3px;
  }
  .section--dark .ListFeatures-item .txtwhite60 {
    color: #fff;
  }
}
